*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration:none;
}
.navbar {
	width: 100%;
	height: 70px;
	background-color:transparent;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar h1 {
	color: white;
	font-size: 25px;
	margin-left: 20px;
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
}
nav{
    height:80px;
}
nav img{
    width:100px;
    position:absolute;
    top:17px;
    left:7%;
}
.show{
    float:right;
    margin-right:25px;
}
.show li{
    display:inline-block;
    line-height:80px;
    margin:0 15px;
}
.show li {
    position:relative;
    color:white;
    padding:5px 0;
    font-size: 18px;
    text-transform: uppercase;
}
.show li:hover{
    color:red;
}
.burger{
    display:none;
    position:absolute;
    cursor:pointer;
    right:5%;
    top:22px;
}
.line{
    width:33px;
    background-color: white;
    height:4px;
    margin:5px 3px;
}
@media(max-width:1118px){
    nav img{
        left:8%;
    }
}
@media(max-width:944px){
    nav img{
        left:6%;
        top:20px;
        width:80px;
    }
    .show li a{
        font-size: 17px; 
    }
}
@media(max-width:860px){
    .burger{
        display: block;
    }
    .show{
        position:fixed;
        width:100%;
        height:100vh;
        background:#34495e;
        top:80px;
        left:0;
        text-align: center;
    }
    .show li{
        display:block;
        margin:50px 0;
        line-height:30px;
    }
    .show li a{
        font-size: 20px;
    }
    .v-class{
        visibility:hidden;
    }
}
.home{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.home-left{
    justify-content: center;
    padding: 100px;
}
.home-left h1{
    color: #fff;
    font-weight: 900;
    font-size: 2rem;
}
.home-left h2{
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
}
.home-left p{
    padding-top: 10px;
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
}
.home-right{
    height: 80vh;
    width: 100%;
}
